{{#section 'employment'}}
<hr>
<section class="row">
  <h3 class="{{headerClass}}"><span class="fa fa-fw fa-building"></span>&nbsp;{{{sectionTitle "Employment"}}}</h3>
  <div class="{{contentClass}}">
    {{#each r.employment.history}}
      {{#if url}}
      <h4><strong>{{position}}</strong>, <a href="{{{url}}}">{{employer}}</a></h4>
      {{else}}
      <h4><strong>{{position}}</strong>, {{employer}}</h4>
      {{/if}}
      {{formatDate safe.start 'YYYY-MM'}}&mdash;{{#if current}}Present{{else}}{{formatDate safe.end 'YYYY-MM'}}{{/if}}
      {{{summary}}}
      {{#if highlights}}
        <ul>
        {{#each highlights}}
          <li>{{{this}}}</li>
        {{/each}}
        </ul>
      {{/if}}
      {{#unless @last}}<div>&nbsp;</div>{{/unless}}
    {{/each}}
  </div>
</section>
{{/section}}
