<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{r.name}}</title>
{{#compare opts.css "bootstrap" operator="=="}}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
{{/compare}}
{{#compare opts.css "bootstrap" operator="!="}}
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/{{opts.css}}/bootstrap.min.css" rel="stylesheet"></link>
{{/compare}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"></link>
<style>
  h3, h4, h5, h6 {
    margin-top: 0;
  }

  .label {
    display: inline-block;
  }
</style>
