{{#compare opts.css "lumen" operator="=="}}
  {{> font-source-sans-pro}}
{{/compare}}
{{#compare opts.css "cosmo" operator="=="}}
  {{> font-source-sans-pro}}
{{/compare}}
{{#compare opts.css "cyborg" operator="=="}}
  {{> font-roboto}}
{{/compare}}
{{#compare opts.css "darkly" operator="=="}}
  {{> font-lato}}
{{/compare}}
{{#compare opts.css "flatly" operator="=="}}
  {{> font-lato}}
{{/compare}}
{{#compare opts.css "journal" operator="=="}}
  {{> font-news-cycle}}
{{/compare}}
{{#compare opts.css "paper" operator="=="}}
  {{> font-roboto}}
{{/compare}}
{{#compare opts.css "readable" operator="=="}}
  {{> font-raleway}}
{{/compare}}
{{#compare opts.css "sandstone" operator="=="}}
  {{> font-roboto}}
{{/compare}}
{{#compare opts.css "simplex" operator="=="}}
  {{> font-open-sans}}
{{/compare}}
{{#compare opts.css "spacelab" operator="=="}}
  {{> font-open-sans}}
{{/compare}}
{{#compare opts.css "superhero" operator="=="}}
  {{> font-lato}}
{{/compare}}
{{#compare opts.css "united" operator="=="}}
  {{> font-ubuntu}}
{{/compare}}
{{#compare opts.css "yeti" operator="=="}}
  {{> font-open-sans}}
{{/compare}}
